.pie_chart1 {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    justify-content: space-around;
}

.chart_description {
    margin-top: 4rem;
    font-size: 1.2rem;
    font-weight: 300;
    width: 90%;
}

.chart_main_container h1 {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 3rem;
}